<div class="box-bottom-corner">
			<div class="row">
				<div class="col-xs-6">
					<div class="menu-bottom-corner">
						<a href="{{ path('homepage') }}">HOME</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{{ path('about') }}">PROFIL</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{{ path('keuntungan') }}">KEUNTUNGAN</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{{ path('produk') }}">PRODUK & APLIKASI</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{{ path('panduan') }}">PANDUAN ECOBLOCK</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="{{ path('contactus') }}">KONTAK</a>
					</div>
				</div>
				<div class="col-xs-5 info-corner-bottom">
					<div class="row">
						<div class="col-xs-4"> <i class="icon-facebook"></i>&nbsp; ECOBLOCK Indonesia</div>
						<div class="col-xs-4"> <a href="mailto:info@ecoblock.info"><i class="icon-email"></i>&nbsp; info@ecoblock.info</a> </div>
						<div class="col-xs-4"> <i class="icon-pone"></i>&nbsp; <span class="pone">(031) 897 7789</span> </div>
					</div>
				</div>
			</div>
		</div>