{% extends layout %}
{% block title %}Aneka Solusi Atap - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	<div class="back-white outer-inside-pagesl">
		<div class="prelatife container">
			<div class="clear height-205"></div>
			
			<div class="inside-pcontent-in content-text">
				<div class="top-content">
					<div class="row">
						<div class="col-md-9">
							<h1 class="title-pages">Aneka Solusi Atap</h1>
						</div>
						<div class="col-md-3">
							<div class="out-breadcrumbs">
								<ol class="breadcrumb">
								  <li><a href="#"> <img src="{{ app.request.baseurl }}/asset/images/ls-icon-home.png" alt=""> </a></li>
								  <li class="active">ANEKA SOLUSI ATAP</li>
								</ol> <div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div> <div class="clear height-50"></div><div class="height-40"></div>
				<div class="middle-content">
					<div class="maxw-1015 tengah text-center">
						<span>Solusi pendinginan atap dengan Zelltech Aluminium Foil <br>
								berkualitas tinggi dan terbukti dalam penggunaannya.</span> <div class="clear height-30"></div>
						
						<p>Produk solusi atap merk Zelltech Insulation adalah produk insulasi dengan aluminium foil berkualitas yang kami rekomendasikan karena telah terbukti berhasil mengungguli merk kompetitor lainnya yang menawarkan kegunaan yang sama. Produk Zelltech insulation dapat diadaptasikan secara praktis untuk segala situasi di mana Anda membutuhkan pendinginan secara signifikan pada atap anda terhadap sengatan matahari.</p>

						<p>Di Solusiatap.co.id kami mampu menghadirkan produk berskala industri seperti Zelltech Insulation dengan jumlah pemesanan retail dan juga dengan <a href="#">harga yang sangat kompetitif</a>.</p>

						<div class="clear height-50"></div><div class="height-5"></div>
						<div class="clear"></div>
					</div>

					<div class="list-pict-pagabout-data">
							<div class="row">
								<div class="col-md-3">
									<div class="item">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/aneka-at-1.jpg" alt=""></div>
										<div class="clear height-5"></div><div class="height-10"></div>
										<span class="title">Solusi Atap Rumah / Hunian</span><div class="clear height-5"></div>
										<p>Zelltech merupakan solusi atap praktis dan ampuh untuk insulasi panas. Gunakan Zelltech untuk kualitas, keawetan serta minimnya perawatan.</p>
										<div class="clear height-5"></div>
										<a href="{{ url('solusi_atap_detail', {'name' : 'solusi-atap-rumah-hunian' } ) }}" class="view-detailaneka"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/aneka-at-2.jpg" alt=""></div>
										<div class="clear height-5"></div><div class="height-10"></div>
										<span class="title">Solusi Atap Industri / Pabrik</span><div class="clear height-5"></div>
										<p>Dengan atap industri / pabrik yang memiliki insulasi panas berkualitas, mengurangi pengeluaran listrik akibat kinerja pendingin yang berat.</p>
										<div class="clear height-5"></div>
										<a href="{{ url('solusi_atap_detail', {'name' : 'solusi-atap-industri-pabrik' } ) }}" class="view-detailaneka"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/aneka-at-3.jpg" alt=""></div>
										<div class="clear height-5"></div><div class="height-10"></div>
										<span class="title">Solusi Atap Gedung Komersil</span><div class="clear height-5"></div>
										<p>Untuk atap gedung komersil, Zelltech sangat cocok digunakan karena sangat tahan cuaca dan rapi dalam pemasangan, jauh dibandingkan glasswool.</p>
										<div class="clear height-5"></div>
										<a href="{{ url('solusi_atap_detail', {'name' : 'solusi-atap-gedung' } ) }}" class="view-detailaneka"></a>
									</div>
								</div>
								<div class="col-md-3">
									<div class="item">
										<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/aneka-at-4.jpg" alt=""></div>
										<div class="clear height-5"></div><div class="height-10"></div>
										<span class="title">Solusi Insulasi Cold Storage</span><div class="clear height-5"></div>
										<p>Zelltech hadir membawa bukti nyata, pengecekan dengan alat pengukur suhu dengan sangat jelas memberikan hasil yang berbeda drastis.</p>
										<div class="clear height-5"></div>
										<a href="{{ url('solusi_atap_detail', {'name' : 'solusi-insulasi-storage' } ) }}" class="view-detailaneka"></a>
									</div>
								</div>

								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>

					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			{# End Content text #} <div class="clear height-50"></div><div class="height-20"></div>

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
	<div class="back-bottom-banner-fcsbott prelatife">
		<div class="prelatife container"> <div class="clear height-25"></div>
			<div class="text-bottomfcs-bannerls text-center">
				<div class="height-3"></div>
				<span>Kami akan menemukan solusi atap terbaik!</span>&nbsp;&nbsp;Dapatkan penawaran terbaik dari kami.
				<a href="#" class="bt-view-penawaran-home margin-left-23"></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
