{% extends layout %}
{% block title %}Cara Pemasangan - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
	<div class="back-white outer-inside-pagesl">
		<div class="prelatife container">
			<div class="clear height-205"></div>
			
			<div class="inside-pcontent-in content-text">
				<div class="top-content">
					<div class="row">
						<div class="col-md-9">
							<h1 class="title-pages">Cara Pemasangan Zelltech</h1>
						</div>
						<div class="col-md-3">
							<div class="out-breadcrumbs">
								<ol class="breadcrumb">
								  <li><a href="#"> <img src="{{ app.request.baseurl }}/asset/images/ls-icon-home.png" alt=""> </a></li>
								  <li class="active">CARA PEMASANGAN</li>
								</ol> <div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div> <div class="clear height-50"></div><div class="height-40"></div>
				<div class="middle-content">
					<div class="row text-topindustry">
						<div class="col-md-8">
							<span>Untuk aplikasi atap industri</span>
							<div class="clear height-15"></div>
							<div class="list-data-carapasng">
								<div class="row">
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x1.jpg" alt="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x2.jpg" alt="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x3.jpg" alt="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x4.jpg" alt="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x5.jpg" alt="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="item">
											<img class="img-responsive" src="{{ app.request.baseurl }}/asset/images/cara_pasang/pict-it-x6.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="padding-left-15 right-cont-carapasang">
								<span>Petunjuk:</span>
								<div class="clear height-15"></div>
								<ol>
									<li>Buka roll Zelltech pada atap</li>
									<li>Gelindingkan Zelltech untuk menutupi area yang diinginkan</li>
									<li>Pertahankan posisi Zelltech dengan selotip / plakban</li>
									<li>Sekrup zelltech pada rangka atap</li>
									<li>Tutup celah insulasi Zelltech dengan selotip / plakban tahan air</li>
									<li>Pastikan tidak ada celah antara atap dan Zelltech.</li>
								</ol>
								<div class="clear height-35"></div>
								<span class="red">Perhatian:</span>
								<div class="clear height-5"></div>
								<p>Instalasi yang tidak baik akan berdampak pada hasil
								akhir kemampuan insulasi dan penghematan listrik.
								Untuk memastikan kesempurnaan pemasangan, <br>
								<a href="#">hubungi tim Solusi Panas sekarang juga.</a></p>

								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>


					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			{# End Content text #} <div class="clear height-50"></div><div class="height-35"></div>

			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="clear"></div>
	<div class="back-bottom-banner-fcsbott prelatife">
		<div class="prelatife container"> <div class="clear height-25"></div>
			<div class="text-bottomfcs-bannerls text-center">
				<div class="height-3"></div>
				<span>Kami akan menemukan solusi atap terbaik!</span>&nbsp;&nbsp;Dapatkan penawaran terbaik dari kami.
				<a href="#" class="bt-view-penawaran-home margin-left-23"></a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
{% endblock %}
