{% extends layout %}
{% block title %}Services - {% endblock %}
{% block menu %}service{% endblock %}
{% block content %}
	<div class="outer-middle-pages back-white min-h600 prelatife">
		<div class="clear height-50"></div><div class="height-15"></div><div class="height-2"></div>
			<div class="prelatife container">
				<div class="outer-inside-pages">
					<div class="tops-insides-page">
						<div class="back-lines"></div>
						<div class="texts"><h1>SERVICES</h1></div>
						<div class="clear"></div>
					</div>
					<div class="clear height-50"></div>
					<div class="insd-middle text-center content-text">
						<div class="hidden-xs">
							<span>Frontline design studio is acknowledged as an exceptional <br> partner by home owners, architects and property developers for the taste<br> preference, know-how and consilidated competence.</span>
						</div>
						<div class="visible-xs">
							<span>Frontline design studio is acknowledged as an exceptional partner by home owners, architects and property developers for the taste preference, know-how and consilidated competence.</span>
						</div>
						<div class="clear height-50"></div>
						<div class="height-40"></div>
						<div class="row">
							<div class="col-md-12">
								<img src="{{ app.request.baseurl }}/asset/images/services-1.jpg" alt="" class="img-responsive">
							</div>
						</div>

						<div class="clear"></div>
					</div>
					<div class="clear height-50"></div><div class="height-10"></div>
					<div class="content-text">
						<div class="blok-tservices-1 text-center">
							<span><b>What we do</b></span> <div class="clear height-5"></div><div class="height-4"></div>
							<p>We cater to all the design and furnishings for hotels, residences, <br>offices, theatres and shops.Strengthened by the experience in engineering and <br>the creation of technical drawings.</p>
						</div>
						<div class="clear height-50"></div>
						<div class="mw-937 tengah text-center blocks-sub-table-services">
							<div class="listting-sub-table-services">
								<div class="row">
									<div class="col-md-3">
										<div class="texts">Space Planning</div>
									</div>
									<div class="col-md-3">
										<div class="texts">CAD Drawings</div>
									</div>
									<div class="col-md-3">
										<div class="texts">3D Rendering</div>
									</div>
									<div class="col-md-3 no-borders">
										<div class="texts">Lighting Design</div>
									</div>
								</div>
							</div>
							<div class="clear height-5"></div>
							<div class="lines-grey"></div>
							<div class="clear height-5"></div>
							<div class="listting-sub-table-services">
								<div class="row">
									<div class="col-md-3">
										<div class="texts">Bespoke Built In and <br> Loose Furniture </div>
									</div>
									<div class="col-md-3">
										<div class="texts">Curtains and <br> Wallcovers</div>
									</div>
									<div class="col-md-3">
										<div class="texts">Project Management</div>
									</div>
									<div class="col-md-3 no-borders">
										<div class="texts">Accessories and <br> Styling</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear height-30"></div>
						<div class="clear height-50"></div>
						<div class="clear height-10"></div>
						<div class="row serivces-middle-cn">
							<div class="col-md-6">
								<div class="pict-left padding-right-5"><img src="{{ app.request.baseurl }}/asset/images/services-2.jpg" alt="" class="img-responsive"></div>
							</div>
							<div class="col-md-6">

								<div class="pict-left padding-left-5"><img src="{{ app.request.baseurl }}/asset/images/services-3.jpg" alt="" class="img-responsive"></div>
								{# <div class="clear height-50"></div> <div class="height-50"></div> <div class="height-50"></div>
								<div class="height-40"></div>
								<div class="mw-300 text-center tengah">
									<img src="{{ app.request.baseurl }}/asset/images/services-3.jpg" alt="" class="img-responsive">
									<div class="clear height-20"></div><div class="height-3"></div>
									<p>We love to use out of the box accent colors that will ignite your mood.</p>
									<div class="clear"></div>
								</div> #}

							</div>
						</div>
						<div class="clear height-50"></div> <div class="height-25"></div>{#  <div class="height-15"></div> #}
						
						{# <div class="services-bottom-cn">
							<div class="row">
								<div class="col-md-12">
									<span>Design, production, project management and installation activities are perfectly <br> integrated to ensure the implementation of complex design projects, <br> in compliance with ongoing research for technical and design excellence.</span>
								</div>
							</div>
							<div class="clear height-50"></div>
							<div class="clear height-50"></div>
							<div class="text-left mx-w1060">
								<div class="row">
									<div class="col-md-4">
										<div class="itemss">
											<span class="title">Design</span>
											<div class="clear height-35"></div>
											<p>Our expertise in innovative and sophisticated design is reflected through our work portfolio. Our design concern for our customer is manifested by our competent, qualified, and outgoing teams, focused on bringing out the latest in contemporary trends.</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="itemss margin-left-10">
											<span class="title">Production</span>
											<div class="clear height-35"></div>
											<p>Frontline design studio provide products that combine high quality and innovation with functionality. All of that can be achieved with the cutting edge, high capability facilties that we posses. We believe that the best in style and functionality can be achieved only with qulified facilities.</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="itemss margin-left-10">
											<span class="title">Installation</span>
											<div class="clear height-35"></div>
											<p>This part holds the equal importance on our process. What is the use of good design and good craftsmanship without a proper installation. We wouldn&#39;t present defect products with hopes for tolerance. It&#39;s our commitment to bring out the best at all conditions.</p>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear height-50"></div>
							<div class="height-50"></div>
							<div class="mx-600 tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/services-4.jpg" alt="" class="img-responsive">
								<div class="clear height-30"></div>
								<div class="height-2"></div>
								<div class="hidden-xs">
								<p>Strong taste of contemporary, professional employees, <br> as well as quality products and customer service, <br> have contributed to the company’s success.</p>
								</div>
								<div class="visible-xs">
									<p>Strong taste of contemporary, professional employees, as well as quality products and customer service, have contributed to the company’s success.</p>
								</div>

								<div class="clear"></div>
							</div>

							<div class="clear"></div>
						</div> #}
						
						<div class="clear"></div>
					</div>
					{# end service bottom #}

					{# <div class="clear height-50"></div> #}
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

		<div class="clear height-50"></div><div class="height-5"></div>
		<div class="clear"></div>
	</div>
	
{% endblock %}