{% extends layout %}
{% block title %}What We Can Do For You - {% endblock %}
{% block menu %}wecan{% endblock %}
{% block content %}

<div class="wrap-outer-content-inside">
	<div class="prelatife container">
		<div class="clear height-50"></div>
		<div class="height-30"></div>
		<div class="content-text text-center what_wecando">
			<h1>WHAT CAN WE DO FOR YOU</h1>
			<div class="clear height-50"></div> 
			<p>Zoe services are expandable as far as your imagination reach! <br>
				Combined process will crete a unique experience!</p>
			<div class="clear height-20"></div> <div class="height-3"></div>
			<span>Our basic service capabilities are explained below...</span>
			<div class="clear height-50"></div> <div class="height-5"></div> <div class="height-2"></div>
			<div class="w1090 tengah text-center">
				<div class="lines-grey_wecan"></div>
				<div class="clear height-50"></div> <div class="height-15"></div>
				
				{# Start data we can do #}
				<div class="list-wecand-data">
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/kodak-lab.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Professional <br> Photography Print</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											{# <p>Photo prints with chemical process and laser expose technology which brings incredibly A-mazing colours, sharpness, accuracy and consistency on your photos. With the support of KODAK and NORITSU, we can print your photos from postcard to maximum 60 cm x 250 cm (24R panorama)</p> #}
											<p>Photo prints with chemical process and laser expose technology which brings incredibly A-mazing colours, sharpness, accuracy and consistency on your photos. With the support of 8 colors Hi-resolution and 11 colors Super-Hi-resolution printer, your satisfaction is guaranteed! For quality detail junkie, try our Hahnemühle Digital FineArt paper and wait to be Aaah-Mazed!</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow right-pos"></div>

						<div class="desc-right fleft padding-left-61">
							<div class="title text-left">Indoor Large Format <br> Printing</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata left-post">
										<div class="ins">
											{# <p>Adjusted by your needs! Dye ink for short term usage (6 - 12 months), pigment ink for long term needs (more than 12 months). With the support of EPSON printer, 7 colors for dye ink printings and 8 colors for pigment ink printings, made your printed artworks rich and crisp. One of our latest addition is the 11 colors pigment HDR ink for those detail junky! </p> #}
											<p>Adjusted by your needs! We use pigment ink for long term needs (more than 50 years). With the support of EPSON printer, 8 colors for pigment ink printings, made your printed artworks rich and crisp. One of our latest addition is the 11 colors pigment HDR ink for those detail junky!</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="pict fright prelatife">
							<img src="{{ app.request.baseurl }}/asset/images/indoor-printing.jpg" alt="first we can do for you">
						</div>

					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>

					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/outdoor-printing.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Outdoor Hi-resolution Print <br>& Cut Large Format Printing</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											{# <p>With the friendly eco-solvent ink, our roland 6 colors printer is ready to cater to all your indoor / outdoor printing requests. With ecosolvent ink, your printing materials won't be on strong solvent-odor. We also cater to all your sticker cutting and sandblast cutting needs, as well as print & contour sticker cutting.</p> #}
											<p>With the friendly eco-solvent ink, our printer is ready to cater to all your indoor / outdoor printing requests. With ecosolvent ink, your printing materials won't be on strong solvent-odor. We also cater to all your sticker cutting and sandblast cutting needs, as well as print & contour cut.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow right-pos"></div>

						<div class="desc-right fleft padding-left-61">
							<div class="title text-left">UV Flatbed Print</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata left-post">
										<div class="ins">
											<p>With UV inks, you can print on almost any kind of surface with maximum thickness of 10cm. With the combination of CMYK ink, white ink and clear coat, printings on non white coloured surface is no longer a problem. Some variations of materials are printing on Acrylic, printing on wood, printing on stone, printing on ceramic tiles, printing on velvet fabric, printing on plastic, printing on metal, and so much more.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="pict fright prelatife">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-uv-flatbed.jpg" alt="first we can do for you">
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>

					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-canvas.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Canvas And Wrapping</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											<p>We accept any kind of canvas work, including print on canvas, and even frame-wrap it to a ram wood construction (spanram). Canvas that we provide is the highest canvas quality that will make not only beautiful arts, but a water proof prints that easy to clean.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow right-pos"></div>

						<div class="desc-right fleft padding-left-61">
							<div class="title text-left">Lamination</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata left-post">
										<div class="ins">
											<p>We cater to cold lamination, hot lamination, hot press lamination, liquid lamination service to help protect and beautify your arts.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="pict fright prelatife">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-laminate2.jpg" alt="first we can do for you">
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>

					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-ondemand.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Printing On Demand (Digital <br> Press Print/Digital Offset)</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											{# <p>With the support from Canon, we provide digital printing service with menggunakan offset standard paper and even fancy paper (import paper) with size of A3 without minimum order. We also provide plano size digital offset printing (70x100cm) with 8 inks printing without minimum order.</p> #}
											<p>With the support from Canon, we provide digital printing service with offset standard paper and even fancy paper (import paper) with size of A3 without minimum order.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow right-pos"></div>

						<div class="desc-right fleft padding-left-61">
							<div class="title text-left">Custom Album binding, <br> box and packaging</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata left-post">
										<div class="ins">
											<p>If you need help on printing books, catalog, album, packaging, and any other forms of creativity finishing, we'll ready to help!</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="pict fright prelatife">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-album3.jpg" alt="first we can do for you">
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>

					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/about-zoe-digital-printing-surabaya-laser-cut.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Laser Cutting and Engraving</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											<p>We also provide laser cutting and engraving service for various kind of materials including wood, acrylic, paper, glass, and so moch more. (except plastic dan metal). For sophisticated and detailed cuts, laser cutting is your best solution.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>
					
					<div class="item prelatife">
						<div class="back-arrow-leftyellow right-pos"></div>

						<div class="desc-right fleft padding-left-61">
							<div class="title text-left">Digital Garment Printing</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata left-post">
										<div class="ins">
											<p>With garment printing, now fashion designers and garment convection business will be better than ever. Forget minimum order! Now you can design and print it with retail quantity. Digital Garment printing is applicable for polyesther and poly-cotton fabric.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
						<div class="pict fright prelatife">
							<img src="{{ app.request.baseurl }}/asset/images/garment-printing.jpg" alt="Digital Garment Printing">
						</div>
					</div>

					<div class="clear height-50"></div>
					<div class="clear height-50"></div>
					 <div class="height-35"></div>

					<div class="item prelatife">
						<div class="back-arrow-leftyellow"></div>
						<div class="pict fleft prelatife padding-left-23">
							<img src="{{ app.request.baseurl }}/asset/images/rollenmaterial-1.jpg" alt="first we can do for you">
						</div>
						<div class="desc-right fleft padding-left-40">
							<div class="title text-left">Digital Cutting <br>& Routing Service</div>
							<div class="clear height-15"></div> <div class="height-2"></div>
								<div class="prelatife">
									<div class="block-black-wecandata">
										<div class="ins">
											<p>Powered with the most advanced machine "ZUND", now digital cutting and routing now became more precise and advanced! Let's cut acrylic, MDF boards, multiplex, pvc board and even textile! Time to explore your creativity!.</p>
											<div class="clear height-35"></div>
											<div class="text-left">
												<a href="#"><img src="{{ app.request.baseurl }}/asset/images/btn-see-work-sample.png" alt=""></a>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="clear"></div>
				</div>
				{# End data we can do #}
				<div class="clear height-50"></div>
				<div class="height-50"></div> <div class="height-10"></div>
				<div class="tengah text-center text-bottomfux-wecan">
					<img src="{{ app.request.baseurl }}/asset/images/icon-i-skblack.png" alt="">
					<div class="clear height-10"></div>
					<span>
						Want to start your own project? <a href="{{ url('contact') }}">Contact Us</a>.
					</span>
					<div class="clear"></div>
				</div>


				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>	

		<div class="clear"></div>
	</div>
</div>
<div class="clear height-25"></div>
<div class="clear height-50"></div>
{% endblock %}
